/* GENERAL STYLES */
body {
  background-color: #1d2a35;
  color: #ddd;
  font-family: "Segoe UI", sans-serif;
}

a {
  display: inline-block;
  color: #ddd;
  text-decoration: none;
  border: 1px;
  padding-top: 1.5rem;
}

mark {
  background-color: rgb(52, 228, 52);
  text-transform: uppercase;
}

small {
  color: rgb(140, 156, 247);
}

ul {
  padding-left: 0.5rem;
  list-style: none;
}

.container {
  margin: 0 auto;
  min-height: 95vh;
}

.flexer {
  display: flex;
}

#menu {
  flex: 3;
  border: #999 solid 1px;
}

#content {
  flex: 12;
  padding: 0 16px;
  border: #999 solid 1px;
  padding-bottom: 10rem;
}

span.att {
  border-bottom: 2px solid rgb(140, 156, 247);
}

span.att.green {
  border-bottom: 2px solid rgb(122, 245, 159);
}

span.att.red {
  border-bottom: 2px solid rgb(245, 130, 122);
}

p.description {
  color: rgb(52, 228, 52);
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
  word-spacing: 0.05rem;
}

/* EXERCISES STYLES */
.altColor {
  background-color: red;
}
