body {
  background-color: #1d2a35;
  color: #ddd;
  font-family: "Segoe UI", sans-serif;
}

a {
  display: inline-block;
  color: #ddd;
  text-decoration: none;
  border: 1px;
  padding-top: 1rem;
}

mark {
  background-color: rgb(52, 228, 52);
  text-transform: uppercase;
}

small {
  color: rgb(140, 156, 247);
}

.container {
  margin: 0 auto;
  min-height: 95vh;
}

.flexer {
  display: flex;
}

#menu {
  flex: 7;
  border: #999 solid 1px;
}

#content {
  flex: 12;
  padding: 0 16px;
  border: #999 solid 1px;

  padding-right: 12em;
}

span.att {
  border-bottom: 1px solid rgb(140, 156, 247);
}

p.description {
  color: rgb(52, 228, 52);

  font-style: italic;
  text-transform: uppercase;
}
